<h3 style='margin:10px;'></h3>
<div id='error_holder'></div>
<input class='input-medium reportName' id='report{{_id}}' name='name' type='text' value='{{name}}'>
<div class='btn-group'>
  <button class='addFilter btn'>Add Filter</button>
  <button class='showReport btn'>Show Report</button>
  <button class='saveReport btn'>Save Report</button>
</div>
<ul id='currentFilters'></ul>
<div id='result-donut'></div>
{{#if report_result_set}}
  <ul>
    {{#each report_result_set.results}}
      <li>{{_id}} total shipments:{{value.total_shipments}} total_charges:{{value.total_charges}} average_cost:{{value.average_cost}}</li>
    {{/each}}
  </ul>
{{/if}}